.user-list-avatar-div {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
}

.category-imageview-div {
    width: 100px;
    height: 75px;
    display: flex;
    align-items: center;
}
